/* Format for the main web page button. */
#bcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
	width: 100%;
	background-color: dodgerblue;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

/* Format for the tables in the update.html page. */
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

table#all {
	width: 100%;
	background-color: dodgerblue;
	font-family: Arial, Helvetica, sans-serif;
}

/* Format used for labels. */
label {
	display: inline-block;
	text-align: center;
	font-size: 30px;
}

/* Format used for form. */
form {
	border: 1px solid #f1f1f1;
}

/* Format used for the input boxes. */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}