/* The CSS formats we are going to use for the second page. */

/* Make the background color light blue. */
#bodyformat {
	background-color: lightblue;
	background-image: url('../images/cwru1.jpg'), url('../images/cwru1.jpg');
	background-size: 300px 300px, 300px 300px;
	background-position: left top, right top;
	background-repeat: no-repeat;
}

/* Set the padding of blocks at 50px. */
#divformat {
	padding: 50px;
}

/* Format used for all header1's. */
h1 {
	text-align: center;
	color: dodgerblue;
	font-size: 60px;
}

/* Format used for all paragraphs. */
p {
	text-align: center;
	color: blue;
	font-size: 30px;
}

/* Class for the dropdown button. */
.dropbtn {
	background-color: black;
	color: lightblue;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: dodgerblue;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 15px 25px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: blue;
}