<!-- Add events to the database. -->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
		<title>Page to add events to the database.</title>
	</head>
	<body>
		<!-- Form that allows the user to input the data into the database. -->
		<form action="" method="POST">
			<label id="bcenter" for="name"><b>Event Name</b></label>
			<input id="bcenter" type="text" placeholder="Enter name" name="name" required>

			<label id="bcenter" for="organization"><b>Event Organization</b></label>
			<input id="bcenter" type="text" placeholder="Enter organization" name="organization" required>

			<label id="bcenter" for="caterer"><b>Event Caterer</b></label>
			<input id="bcenter" type="text" placeholder="Enter caterer" name="caterer" required>

			<label id="bcenter" for="price"><b>Event Price</b></label>
			<input id="bcenter" type="text" placeholder="Enter price" name="price" required>

			<label id="bcenter" for="location"><b>Event Location</b></label>
			<input id="bcenter" type="text" placeholder="Enter location" name="location" required>

			<label id="bcenter" for="date"><b>Event Date</b></label>
			<input id="bcenter" type="date" placeholder="Enter date" name="date" required>

			<button id="bcenter" type="Submit">Submit Event</button>
		</form>
	</body>
</html>