<!-- The second page for Food@CWRU. This is where the 
	 CRUD and aggregate queries take place. There are
	 pre-determined tables on the side bar and then
	 there is a search option to find more customized results. -->
<!DOCTYPE html>
<html>
	<head>
		<!-- Link to the CSS used for this html page -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/spstyles.css') }}">
		<!-- Title of the website: Food@CWRU -->
		<title>Food@CWRU, a platform to find Case events with food.</title>
	</head>
	<!-- The body of the web page. -->
	<body id="bodyformat">
		<!-- The first block of information containing the instructions. -->
		<div id="divformat">
			<h1>Food@CWRU</h1>
			<p>So here's how it works. Use the navigation menu to select
			<br>the events page you'd like to see. Preferred events is
			<br>catered to your account. The special events page contains
			<br>the special food events for the day. Use the search bar
			<br>to search for specific events. </p>
		</div>
		<div class="topnav">
			<a href="#" target="f1">Home</a>
			<a href="#" target="f1">Preferred Events</a>
			<div class="dropdown">
				<button class="dropbtn">Special Events</button>
				<div class="dropdown-content">
					<a href="#" target="f1">Event 1</a>
					<a href="#" target="f1">Event 2</a>
				</div>
			</div>
			<a href="#" target="f1">Add Events</a>
			<a href="#" target="f1">Delete Events</a>
			<input type="text" placeholder="Search" name="search">
		</div>
		<iframe src="" style="border: none; background-color: lightblue;" name="f1"></iframe>
		<!-- The second block that contains the dropdown menu as explained above.
		<div id="divformat" class="dropdown">
			<button class="dropbtn">Special Events</button>
			<div class="dropdown-content">
				<a href="#">Event 1</a>
				<a href="#">Event 2</a>
			</div>
		</div>-->
	</body>
</html>