<!-- Create account web page. -->
<!DOCTYPE html>
<html>
	<!-- Head of the Login Page. Contains the CSS link and title of website. -->
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
		<title>Food@CWRU, the create account page for the website.</title>
	</head>
	<!-- Body of the create account page. -->
	<body id="bodyformat">
		<a id="bcenter" href="{{url_for('index')}}"target="_top">Back to homepage</a>
		<!-- The first block of the website. -->
		

	</body>
</html>